<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mems22 | Taxes calculation website</title>
  </head>
  <body>
    <h1>Hello there!</h1>
    <h2>This is where taxes will be!</h2>
    <form>
      <p style="margin: 0">Please enter your annual gross salary:</p>
      <input type="text" /> <br />

      <p style="margin: 0">Please enter your annual council tax:</p>
      <input type="text" /> <br />
      <input type="submit" />
    </form>
  </body>
</html>
