<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mems22 | Taxes calculation website</title>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
  </head>
  <body>
    <h1>Taxes page calculation</h1>
    <form method="POST" action="" name="taxes_form">
      {% csrf_token %} {{TaxesForm.as_p}}

      <input type="submit" value="Submit" name="taxes_form" />
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}</li>
        {% endfor %}
    </ul>
   {% endif %}
    <br>
  
   {% if final_results %}
    <table style="width:100%">
      <tr>
        <th>Income</th>
        <th>Annually</th>
        <th>Monthly</th>
      </tr>
      {% for result in final_results %}
      <tr>
        <td>{{result.0}}</td>
        <td>{{result.1}}</td> 
        <td>{{result.2}}</td> 
      </tr>
      {% endfor %}
    </table>
  {% endif %}
  

  </body>
</html>
